.list {
    text-align: center;
    border-collapse: collapse;
}

.list th {
    padding: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #0858d8;
    color: white;
}

.list td {
    padding: 15px;
}

.list a {
    text-decoration: none;
}

.list th, .list td {
    border: 1px solid #ddd;
}

.list .right {
    /* text-align: right; */
}

.list .left {
    /* text-align: left; */
}

.list tr:nth-child(even){background-color: #dbe8ff;}
.list tr:hover {background-color: #ccc;}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #ccc;
}
