.w3-mvd-blue
{color:#fff;background-color:#345a95}

.w3-mvd-gray
{color:#fff;background-color:#969696}

.w3-mvd-egg
{color:#000;background-color:#fdf9e7}

.w3-mvd-yellow
{color:#000;background-color:#ffc300}

.w3-mvd-white
{color:#000;background-color:#fdfffc}

.w3-mvd-black
{color:#fff;background-color:#040006}
